<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>MyBlogs</title>
</head>

<body>
  <!-- header -->
  <div class="header">
    <div>My blog application</div>
    <div class="pages">
      <div><a href="/home">Home</a></div>
      <div><a href="/edit">Edit</a></div>
      <div><a href="/create">Create</a></div>
    </div>
  </div>