<% if(posts.length===0){ %>
  <div class="empty-text">
    Create a post
  </div>
  <% } else{%>
    <% for(let i=0 ; i<posts.length ; i++) { %>
      <div class="blog-post">
        <h1>
          <%= posts[i][0] %>
        </h1>
        <hr />
        <div>
          <%= posts[i][1] %>
        </div>
      </div>
      <% } %>
        <% } %>